/* Rectangles.css */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.rectangle-container {
  display: flex;
  width: 100vw;
  min-height: 100vh; /* Ensure it covers the viewport initially */
  background: linear-gradient(to bottom, #a9a9a9, #000000); /* Gradient from sheet metal gray to black */
  padding-top: 60px; /* Add padding to account for the navbar height */
}

.rectangle {
  flex: 1;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
  transition: flex-grow 0.3s ease;
  text-decoration: none; /* Remove underline from links */
}

.rectangle:hover {
  flex-grow: 1.6;
}
